BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789
DB_HOST=localhost
DB_PORT=5432
DB_NAME=testbot
DB_USER=postgres
DB_PASSWORD=yourpassword
CARD_NUMBER=8600 1234 5678 9012
CARD_HOLDER=ISM FAMILIYA
TICKET_EXPIRE_HOURS=24
